<%- include('partials/layout', {
  active: 'experience',
  footerName,
  body: `
  <!-- Experience content remains mostly static, mirroring the original HTML -->
  <section id="resume" class="resume">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Professional Experience</h2>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="resume-item">
            <h4>Founder</h4>
            <h5>2024 - Present</h5>
            <p><em>DesignerS Vision, Hyderabad, IN</em></p>
          </div>
          <div class="resume-item">
            <h4>Interior Design Project Manager</h4>
            <h5>2022 - 2024</h5>
            <p><em>Knobs Shop, LA Cuisine, Coimbatore, IN</em></p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="resume-item">
            <h4>Senior Interior Designer</h4>
            <h5>2021 - 2022</h5>
            <p><em>Dezine di lusso, Hyderabad, IN</em></p>
          </div>
          <div class="resume-item">
            <h4>Interior Designer</h4>
            <h5>2018 - 2021</h5>
            <p><em>Nolte German, Maruti Hardware, Surat, IN</em></p>
          </div>
        </div>
      </div>
      <a style="align-items: center;" href="/portfolio" class="btn-about">Check My Designs</a>
    </div>
  </section>
  ` }) %>

